@import '../team-setup.component.scss';

        .designations{
            align-self:center;
            margin-right:10px;

            .designation{
                margin-right:10px;
            }
        }

        .protected{
    align-self:center;
    margin-right:25px;
}