@import '../team-setup.component.scss';

.position-type{
    background-color:#{map-get($primary, 300)};
    margin-top:10px;
}

md-input-container{
    margin-top:20px;
}

h4{
    margin-right:10px;
}

span{
    font-size:14px;
    color: #{map-get($mat-grey, 500)};
    margin-top:5px;
    margin-right:10px;
}

