@import '../team-setup.component.scss';

        .designations{
            align-self:center;
            margin-right:10px;

            .designation{
                margin-right:10px;
            }
        }

md-input-container{
    margin-top:20px;
}

h4{
    margin-right:10px;
}

span{
    font-size:14px;
    color: #{map-get($mat-grey, 500)};
    margin-top:5px;
    margin-right:10px;
}

.protected{
    align-self:center;
    margin-right:25px;
}