        <md-toolbar>
            <h4 *ngIf="!edit">{{selectedTeam.name}}</h4><span *ngIf="!edit">{{selectedTeam.bidPoints}} Bid Points</span>
            <md-input-container *ngIf="edit">
                <input placeholder="Team Name" mdInput [(ngModel)]="selectedTeam.name">
            </md-input-container>
            <md-input-container *ngIf="edit">
                <input placeholder="Bid Points" mdInput [(ngModel)]="selectedTeam.bidPoints">
            </md-input-container>
            <button md-icon-button (click)="updateTeam()">
                <md-icon *ngIf="!edit">mode_edit</md-icon>
                <md-icon *ngIf="edit">done</md-icon>
            </button>
            <span class="spacer"></span>
            <button md-icon-button (click)="addPlayer()">
                <md-icon>person_add</md-icon>
            </button>
        </md-toolbar>
        <md-card class="compact position-type">
            <label>Batters</label>
        </md-card>
        <roster-player *ngFor="let player of (selectedTeam.players | position:['1B', '2B', '3B', 'SS', 'C', 'DH', 'OF'])" [player]="player" [team]="selectedTeam">
        </roster-player>
        <md-card class="compact position-type">
            <label>Pitchers</label>
        </md-card>
        <roster-player *ngFor="let player of (selectedTeam.players | position:['P', 'RP'])" [player]="player" [team]="selectedTeam">
        </roster-player>