        <md-toolbar>
            <h4 *ngIf="!edit">{{selectedTeam.name}}</h4><span *ngIf="!edit">{{selectedTeam.bidPoints}} Bid Points</span>
            <md-input-container *ngIf="edit">
                <input placeholder="Team Name" mdInput [(ngModel)]="selectedTeam.name">
            </md-input-container>
            <md-input-container *ngIf="edit">
                <input placeholder="Bid Points" mdInput [(ngModel)]="selectedTeam.bidPoints">
            </md-input-container>
            <button md-icon-button (click)="updateTeam()">
                <md-icon *ngIf="!edit">mode_edit</md-icon>
                <md-icon *ngIf="edit">done</md-icon>
            </button>
            <span class="spacer"></span>
            <button md-icon-button (click)="addPlayer()">
                <md-icon>person_add</md-icon>
            </button>
        </md-toolbar>
        <md-card *ngFor="let player of selectedTeam.players" class="minimal">
            <md-card-header class="player">
               <label class="name">{{player.firstName + ' ' + player.lastName}} </label>
               <label class="positions" *ngFor="let pos of player.positions;">{{pos + '  '}}</label>
               <span class="spacer"></span>
               <md-slide-toggle  class="protected" *ngIf="player.designation === 'RFA' && maxProtectedRFAs > 0" [(ngModel)]="player.protected"  (change)="updatePlayer(player)" [disabled]="!player.protected && rfasLocked">Protected</md-slide-toggle>
               <md-radio-group [(ngModel)]="player.designation" class="designations" (change)="updatePlayer(player)">
                    <md-radio-button class="designation" value="CK">CK</md-radio-button>
                    <md-radio-button class="designation" value="RFA">RFA</md-radio-button>
                    <md-radio-button class="designation" value="IP">IP</md-radio-button>
                    <md-radio-button class="designation" value="None">None</md-radio-button>
                </md-radio-group>
                
                <button md-icon-button (click)="editPlayer(player)">
                    <md-icon>mode_edit</md-icon>
                </button>
                <button md-icon-button (click)="deletePlayer(player)">
                    <md-icon>delete</md-icon>
                </button>
            </md-card-header>
        </md-card>