@import '../../../app.component.scss';
.panel{
    margin-bottom:10px;

    md-card-title{
        &.not-joined{
            margin-top: 19px;
        }
        font-size: 24px;
        font-weight: 200;
    }

    
}