.positions{
    margin-bottom:10px;
    .position{
        margin-right:15px;
    }
}

.designations{
    
    .designation{
        margin-right:15px;
    }
}

.actions{
    display: flex;
    flex-direction: row-reverse;
}