@import '../../app.component.scss';
$light-gray: #eeeeee;
    .compact{
        padding:10px;
    }

    .minimal{
        padding:0px;
    }

.teams-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    .teams-panel{
        width:50%;
        .active{
            background-color:$light-gray;
            border-color: $light-gray;
            box-shadow:inherit;
            border-radius:inherit;
        }
    }
    .team-edit{
        width:50%;
        background-color:$light-gray;
        padding:10px;
    }
}
