@import '../../app.component.scss';
@import '../../../styles.scss';

.player{
            display: flex;
            flex-direction: row;

            .name{
                font-weight:400;
                margin-right:10px;
                align-self:center;
            }

            .positions{
                align-self:center;
                color: $medium-gray;
                margin: 3px 4px 0px 0;
                font-size: 12px;
            }
}

.teams-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    .teams-panel{
        width:25%;
        .active{
            background-color:$light-gray;
            border-color: $light-gray;
            box-shadow:inherit;
            border-radius:inherit;
        }

        md-card{
            &:hover{
                cursor:grab;
            }
        }
    }
    .team-edit{
        width:75%;
        background-color:$light-gray;
        padding:10px;
    }
}
