@import '../../app.component.scss';

.teams-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    .compact{
        padding:10px;
    }

    .minimal{
        padding:0px;
    }
    .teams-panel{
        width:50%;
        .active{
            background-color:lightgray;
            border-color: lightgray;
            box-shadow:inherit;
            border-radius:inherit;
        }
    }
    .team-edit{
        width:50%;
        background-color:lightgray;
        padding:10px;

        .player{
            display: flex;
            flex-direction: row;

            .name{
                font-weight:400;
                margin-right:10px;
                align-self:center;
            }

            .positions{
                align-self:center;
                color: lightgray;
                margin: 3px 4px 0px 0;
                font-size: 12px;
            }
        }

        .designations{
            align-self:center;
            margin-right:10px;

            .designation{
                margin-right:10px;
            }
        }
    }
}
