<div class="teams-container">
    <div class="teams-panel">
        <md-card *ngFor="let team of teams;" class="compact" [ngClass]="{'active': team === selectedTeam}">
            <md-card-header>
                <md-card-title>{{team.name}}</md-card-title>
                <md-card-subtitle>{{team.manager.firstName + ' ' + team.manager.lastName}}</md-card-subtitle>
                <span class="spacer"></span>
                <button md-button (click)="showDetails(team)" *ngIf="team !== selectedTeam">EDIT</button>
            </md-card-header>
        </md-card>
    </div>
    <div class="team-edit">
        <roster [selectedTeam]="selectedTeam"></roster>
    </div>
<div>