<div class="teams-container">
    <div class="teams-panel" dnd-sortable-container [sortableData]="teams">
        <md-card *ngFor="let team of teams; let i = index;" class="compact" [ngClass]="{'active': team === selectedTeam}" dnd-sortable [sortableIndex]="i" (onDropSuccess)="updateRankings()">
            <md-card-header>
                <div class="rank" md-card-avatar>{{team.rank}}</div>
                <md-card-title>{{team.name}}</md-card-title>
                <md-card-subtitle>{{team.manager.firstName + ' ' + team.manager.lastName}}</md-card-subtitle>
                <span class="spacer"></span>
                <button md-button (click)="showDetails(team)" *ngIf="team !== selectedTeam">VIEW</button>
            </md-card-header>
        </md-card>
    </div>
    <div class="team-edit">
        <roster *ngIf="!!selectedTeam" [selectedTeam]="selectedTeam"></roster>
    </div>
<div>