
<h2 md-dialog-title>Player Compensation</h2>
<div *ngIf="!!lastNomination">
  <md-dialog-content class="compensation-container">
    <div class="left">
      <md-card class="minimal">
        <md-card-header>Eligible Players</md-card-header>
      </md-card>
      <player-card *ngFor="let player of (team.players | designation:'Other')" [player]="player" [action]="gimmeBtn" [selectedKey]="selectedPlayer">
        {{player.firstName}}
      </player-card>
    </div>
    <div class="right">
      <md-card class="minimal">
        <md-card-header>Transaction Details</md-card-header>
      </md-card>
      <div class="transaction-details">
        <div *ngIf="higherRank">
          You are acquiring <b>{{rfaPlayer.firstName}} {{rfaPlayer.lastName}}</b> from {{rfaTeam.manager.nickName}}
          <div *ngIf="compensationPlayer">

          </div>
        </div>
        <div *ngIf="!higherRank">
          You are giving up <b>{{rfaPlayer.firstName}} {{rfaPlayer.lastName}}</b> to {{team.manager.nickName}}
            <div *ngIf="compensationPlayer">

            </div>
        </div>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
      <div *ngIf="higherRank">
          <button md-raised-button (click)="killTheDeal()">No way!</button>
      </div>
      <div *ngIf="!higherRank">
          <button md-raised-button (click)="killTheDeal()">This team sucks, no thanks!</button>
      </div>
  </md-dialog-actions>
</div>