@import '../../../app.component.scss';

.rfa-teams{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;

    .team{
        padding:10px 5px 0 5px;
        box-sizing:border-box;
        flex: 0 0 20%;        
    }

    
}