/* You can add global styles to this file, and also import other style files */
@import 'theme.scss';
@import '~ng2-dnd/style.css';

$light-gray: #eeeef2;
$almost-black: #242424;
body{
    font-family: Roboto, "Trebuchet MS", Arial, sans-serif;
    color: $almost-black;
    display:flex;
    flex-direction:column;
}