@import '~@angular/material/core/theming/_all-theme.scss';
@import '~@angular/material/core/theming/_theming.scss';
@import '~@angular/material/core/theming/_palette.scss';

@include mat-core();

$primary: mat-palette($mat-blue, 800);
$accent:  mat-palette($mat-orange, 600, A100, A400);
$warn:    mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);