
<md-spinner *ngIf="loading" class="loading"></md-spinner>
<div *ngIf="!loading">
    <div *ngIf="!rfaProcess" class="need-action-container">
        <div class="need-action">
            <h3>The RFA Process has not been started.</h3>
            <button md-raised-button (click)="createProcess()">Start It!</button>
        </div>
    </div>
    <div *ngIf="!!rfaProcess">
        <rfa-action-panel [rfaProcess]="rfaProcess" [rfaTeams]="teams" [manager]="manager"></rfa-action-panel>
        <rfa-teams [rfaTeams]="teams"></rfa-teams>
    </div>
</div>
